@model IEnumerable<SmartDelivery.Models.Shift>

@{
    ViewBag.Title = "Shifts";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="done-notification">
    Done!
</div>
<h2 class="text-center">All Shifts</h2>

<p>
    @Html.ActionLink("Add new Shift", "AddShift")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditShift", new { shiftId = item.ID }, new { @class = "styled_link" }) 
            @Html.ActionLink("Delete", "DeleteShift", new { shiftId = item.ID }, new { @class = "styled_link" })
        </td>
    </tr>
}

</table>
